<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hola Mustache</title>
</head>
<body>
    <h1>¡Hola {{name}} desde Mustache!</h1>
    <p>Esta es tu primera plantilla.</p>
</body>
</html>